Repository kevalpatel2106/pocket-ci, changes with the labels that .github/labeler.yml gives for each.
All labels: PR type > automation, PR type > documentation

[#68] Fix project list flickering
  .editorconfig
  build.gradle
  core/src/main/java/com/kevalpatel2106/core/di/CoreSingletonBindings.kt
  core/src/main/java/com/kevalpatel2106/core/extentions/PagingExt.kt
  core/src/main/java/com/kevalpatel2106/core/paging/FirstPageLoadState.kt
  core/src/main/java/com/kevalpatel2106/core/paging/usecase/LoadStateMapper.kt
  core/src/main/java/com/kevalpatel2106/core/paging/usecase/LoadStateMapperImpl.kt
  core/src/test/java/com/kevalpatel2106/core/paging/LoadStateMapperImplTest.kt
  feature-account/src/main/java/com/kevalpatel2106/feature/account/list/AccountListFragment.kt
  feature-artifact/src/main/java/com/kevalpatel2106/feature/artifact/list/ArtifactListFragment.kt
  feature-build/src/main/java/com/kevalpatel2106/feature/build/list/BuildListFragment.kt
  feature-job/src/main/java/com/kevalpatel2106/feature/job/list/JobListFragment.kt
  feature-project/src/main/java/com/kevalpatel2106/feature/project/list/ProjectListFragment.kt
Labels: none

[#68] Fix project list flickering (#76)
  .editorconfig
  build.gradle
  core/src/main/java/com/kevalpatel2106/core/di/CoreSingletonBindings.kt
  core/src/main/java/com/kevalpatel2106/core/extentions/PagingExt.kt
  core/src/main/java/com/kevalpatel2106/core/paging/FirstPageLoadState.kt
  core/src/main/java/com/kevalpatel2106/core/paging/usecase/LoadStateMapper.kt
  core/src/main/java/com/kevalpatel2106/core/paging/usecase/LoadStateMapperImpl.kt
  core/src/test/java/com/kevalpatel2106/core/paging/LoadStateMapperImplTest.kt
  feature-account/src/main/java/com/kevalpatel2106/feature/account/list/AccountListFragment.kt
  feature-artifact/src/main/java/com/kevalpatel2106/feature/artifact/list/ArtifactListFragment.kt
  feature-build/src/main/java/com/kevalpatel2106/feature/build/list/BuildListFragment.kt
  feature-job/src/main/java/com/kevalpatel2106/feature/job/list/JobListFragment.kt
  feature-project/src/main/java/com/kevalpatel2106/feature/project/list/ProjectListFragment.kt
Labels: none

[#44] Fixed crash when triggered by null in github
  connector-github/src/main/java/com/kevalpatel2106/connector/github/network/dto/BuildDto.kt
  connector-github/src/main/java/com/kevalpatel2106/connector/github/network/mapper/BuildMapperImpl.kt
  connector-github/src/test/java/com/kevalpatel2106/connector/github/network/mapper/BuildMapperImplTest.kt
Labels: none

[#44] Fixed crash when triggered by null in github (#77)
  connector-github/src/main/java/com/kevalpatel2106/connector/github/network/dto/BuildDto.kt
  connector-github/src/main/java/com/kevalpatel2106/connector/github/network/mapper/BuildMapperImpl.kt
  connector-github/src/test/java/com/kevalpatel2106/connector/github/network/mapper/BuildMapperImplTest.kt
Labels: none

Update glide dependencies
  app/build.gradle
  build.gradle
  core/build.gradle
  gradle/dependency.gradle
Labels: none

Add account and project placeholder images
  core-resources/src/main/res/drawable-hdpi/ic_account_placeholder.png
  core-resources/src/main/res/drawable-hdpi/ic_repository_placeholder.png
  core-resources/src/main/res/drawable-mdpi/ic_account_placeholder.png
  core-resources/src/main/res/drawable-mdpi/ic_repository_placeholder.png
  core-resources/src/main/res/drawable-xhdpi/ic_account_placeholder.png
  core-resources/src/main/res/drawable-xhdpi/ic_repository_placeholder.png
  core-resources/src/main/res/drawable-xxhdpi/ic_account_placeholder.png
  core-resources/src/main/res/drawable-xxhdpi/ic_repository_placeholder.png
  core-resources/src/main/res/drawable-xxxhdpi/ic_account_placeholder.png
  core-resources/src/main/res/drawable-xxxhdpi/ic_repository_placeholder.png
  core-resources/src/main/res/drawable/ic_account_place_holder.xml
  feature-account/src/main/res/layout/list_item_account.xml
  feature-project/build.gradle
  feature-project/src/main/res/layout/list_item_project.xml
Labels: none

Updated target SDK to 33
  feature-setting/src/main/java/com/kevalpatel2106/feature/setting/webView/WebViewFragment.kt
  gradle/config.gradle
Labels: none

Exclude job cancellation exception from being reported to Crashlytics #89
  connector-github/src/test/java/com/kevalpatel2106/connector/github/GitHubJobsProviderTest.kt
  connector-github/src/test/java/com/kevalpatel2106/connector/github/GithubArtifactProviderTest.kt
  core-test/build.gradle
  core-test/src/main/java/com/kevalpatel2106/coreTest/HttpExceptions.kt
  core/src/main/java/com/kevalpatel2106/core/extentions/ExceptionExt.kt
  feature-registration/src/main/java/com/kevalpatel2106/registration/register/RegisterViewModel.kt
  repository-impl-analytics/src/main/java/com/kevalpatel2106/repository/impl/analytics/AnalyticsRepoImpl.kt
  repository-impl-analytics/src/test/java/com/kevalpatel2106/repository/impl/analytics/AnalyticsRepoImplTest.kt
Labels: none

Crash when commit hash is empty
  connector-bitrise/src/main/java/com/kevalpatel2106/connector/bitrise/network/mapper/CommitMapperImpl.kt
  entity/src/main/java/com/kevalpatel2106/entity/id/CommitHash.kt
Labels: none

Added tests for bitrise commit mapper
  connector-bitrise/src/test/java/com/kevalpatel2106/connector/bitrise/network/mapper/CommitMapperImplTest.kt
Labels: none

Adding password toggle in token text filed
  core-resources/src/main/res/drawable/ic_eye_invisible.xml
  feature-registration/src/main/res/drawable/password_icon.xml
  feature-registration/src/main/res/layout/fragment_register.xml
Labels: none

Crash when commit hash is empty (#93)
  connector-bitrise/src/main/java/com/kevalpatel2106/connector/bitrise/network/mapper/CommitMapperImpl.kt
  connector-bitrise/src/test/java/com/kevalpatel2106/connector/bitrise/network/mapper/CommitMapperImplTest.kt
  entity/src/main/java/com/kevalpatel2106/entity/id/CommitHash.kt
Labels: none

Blocked screenshot capture of register fragment
  feature-registration/src/main/java/com/kevalpatel2106/registration/register/RegisterFragment.kt
Labels: none

Adding password toggle in token text filed (#96)
  core-resources/src/main/res/drawable/ic_eye_invisible.xml
  feature-registration/src/main/java/com/kevalpatel2106/registration/register/RegisterFragment.kt
  feature-registration/src/main/res/drawable/password_icon.xml
  feature-registration/src/main/res/layout/fragment_register.xml
Labels: none

Update release tag workflow
  .github/workflows/reuse_build.yml
  .github/workflows/reuse_deploy.yml
Labels: PR type > automation

Fixed release tag workflow
  .github/workflows/reuse_build.yml
Labels: PR type > automation

Adding sonarqube code coverage
  .github/workflows/reuse_test.yml
  README.md
  build.gradle
  gradle/config.gradle
  gradle/sonar.gradle
Labels: PR type > automation

Adding sonarqube code coverage (#100)
  .github/workflows/android_pr.yml
  .github/workflows/main.yml
  .github/workflows/reuse_test.yml
  README.md
  build.gradle
  gradle/config.gradle
  gradle/sonar.gradle
Labels: PR type > automation

Migrate to MkDocs
  .github/ISSUE_GUIDE.md
  .github/workflows/android_pr.yml
  .github/workflows/main.yml
  .github/workflows/reuse_deploy.yml
  .gitignore
  docs/_config.yml
  docs/acknowledgements.md
  docs/contribute/index.md
  docs/dev_faq.md
  docs/download.md
  docs/github_token.md
  docs/img/github-token-guide.gif
  docs/img/logo.png
  docs/index.md
  docs/issue_guide.md
  docs/license.md
  docs/privacy_policy.md
  docs/project_setup.md
  docs/theme/main.html
  mkdocs.yml
Labels: PR type > automation, PR type > documentation

Revert "Adding sonarqube code coverage (#100)"
  .github/workflows/android_pr.yml
  .github/workflows/main.yml
  .github/workflows/reuse_test.yml
  README.md
  build.gradle
  gradle/config.gradle
  gradle/sonar.gradle
Labels: PR type > automation

Added back codecov for code coverage
  .github/workflows/reuse_build.yml
  .github/workflows/reuse_deploy.yml
  README.md
Labels: PR type > automation

Updated buildTool version
  .github/workflows/reuse_build.yml
  .github/workflows/reuse_test.yml
  build.gradle
  gradle/config.gradle
Labels: PR type > automation

Fixed failing UI tests
  app/build.gradle
  app/src/androidTest/java/com/kevalpatel2106/pocketci/FlipperInitializer.kt
  app/src/androidTest/java/com/kevalpatel2106/pocketci/TimberInitializer.kt
  app/src/debug/java/com/kevalpatel2106/pocketci/initializer/FlipperInitializer.kt
  app/src/main/java/com/kevalpatel2106/pocketci/initializer/AnalyticsInitializer.kt
  app/src/main/java/com/kevalpatel2106/pocketci/initializer/TimberInitializer.kt
Labels: none

Adding android test orchestrator to run UI tests
  .github/workflows/android_pr.yml
  .github/workflows/main.yml
  .github/workflows/reuse_test.yml
  build.gradle
  gradle/config.gradle
Labels: PR type > automation

Fixed failing test because of turbine scheduler change introduced in 0.11.0
  core-test/src/main/java/com/kevalpatel2106/coreTest/FlowUtils.kt
  core-views/src/test/java/com/kevalpatel2106/coreViews/useCase/LiveTimeDifferenceTickerImplTest.kt
Labels: none

Bump hilt-android from 2.43.2 to 2.44
  build.gradle
  core-test/build.gradle
Labels: none

Publish build scan report for CI build
  .github/workflows/reuse_code_analysis.yml
  build.gradle
  connector-ci/build.gradle
  gradle/config.gradle
  pre-push
  repository/build.gradle
  settings.gradle
Labels: PR type > automation

Analytics repo code improvements
  repository-impl-analytics/src/main/java/com/kevalpatel2106/repository/impl/analytics/AnalyticsRepoImpl.kt
  repository-impl-analytics/src/main/java/com/kevalpatel2106/repository/impl/analytics/di/SingletonComponentBindings.kt
  repository-impl-analytics/src/main/java/com/kevalpatel2106/repository/impl/analytics/provider/analytics/AnalyticsProvider.kt
  repository-impl-analytics/src/main/java/com/kevalpatel2106/repository/impl/analytics/provider/analytics/FirebaseAnalyticsProvider.kt
  repository-impl-analytics/src/main/java/com/kevalpatel2106/repository/impl/analytics/provider/authentication/FirebaseUserAuthenticationProvider.kt
  repository-impl-analytics/src/main/java/com/kevalpatel2106/repository/impl/analytics/provider/authentication/UserAuthenticationProvider.kt
  repository-impl-analytics/src/main/java/com/kevalpatel2106/repository/impl/analytics/provider/crashReporter/CrashReporterProvider.kt
  repository-impl-analytics/src/main/java/com/kevalpatel2106/repository/impl/analytics/provider/crashReporter/FirebaseCrashReporterProvider.kt
  repository-impl-analytics/src/main/java/com/kevalpatel2106/repository/impl/analytics/usecase/FirebaseAuthenticateUser.kt
  repository-impl-analytics/src/main/java/com/kevalpatel2106/repository/impl/analytics/usecase/ShouldAuthenticateUser.kt
  repository-impl-analytics/src/main/java/com/kevalpatel2106/repository/impl/analytics/usecase/ShouldAuthenticateUserImpl.kt
  repository-impl-analytics/src/test/java/com/kevalpatel2106/repository/impl/analytics/AnalyticsRepoImplTest.kt
  repository-impl-analytics/src/test/java/com/kevalpatel2106/repository/impl/analytics/provider/authentication/FirebaseUserAuthenticationProviderTest.kt
  repository-impl-analytics/src/test/java/com/kevalpatel2106/repository/impl/analytics/provider/crashReporter/FirebaseCrashReporterProviderTest.kt
  repository-impl-analytics/src/test/java/com/kevalpatel2106/repository/impl/analytics/usecase/ShouldAuthenticateUserImplTest.kt
Labels: none

Integrate pinning/unpinning of repo from the project list
  core-resources/src/main/res/values/strings.xml
  feature-project/src/main/java/com/kevalpatel2106/feature/project/list/ProjectListViewModel.kt
  feature-project/src/main/java/com/kevalpatel2106/feature/project/list/adapter/ProjectListAdapterCallback.kt
  feature-project/src/main/java/com/kevalpatel2106/feature/project/list/usecase/InsertProjectListHeadersImpl.kt
  feature-project/src/main/res/layout/list_item_project.xml
  feature-project/src/test/java/com/kevalpatel2106/feature/project/list/ProjectListViewModelTest.kt
  feature-project/src/test/java/com/kevalpatel2106/feature/project/list/adapter/ProjectListDiffCallbackTest.kt
  feature-project/src/test/java/com/kevalpatel2106/feature/project/list/adapter/ProjectListItemTest.kt
  feature-project/src/test/java/com/kevalpatel2106/feature/project/list/usecase/InsertProjectListHeadersImplTest.kt
  repository-impl-analytics/src/test/java/com/kevalpatel2106/repository/impl/analytics/provider/authentication/FirebaseUserAuthenticationProviderTest.kt
  repository-impl/src/androidTest/assets/com.kevalpatel2106.repositoryImpl.cache.db.AppDb/2.json
  repository-impl/src/androidTest/java/com/kevalpatel2106/repositoryImpl/cache/db/projectTable/ProjectDaoTest.kt
  repository-impl/src/androidTest/java/com/kevalpatel2106/repositoryImpl/di/InstrumentedCacheSingletonComponent.kt
  repository-impl/src/main/java/com/kevalpatel2106/repositoryImpl/cache/db/AppDb.kt
  repository-impl/src/main/java/com/kevalpatel2106/repositoryImpl/cache/db/projectLocalDataTable/ProjectLocalDataDao.kt
  repository-impl/src/main/java/com/kevalpatel2106/repositoryImpl/cache/db/projectLocalDataTable/ProjectLocalDataDto.kt
  repository-impl/src/main/java/com/kevalpatel2106/repositoryImpl/cache/db/projectLocalDataTable/ProjectLocalDataTableInfo.kt
  repository-impl/src/main/java/com/kevalpatel2106/repositoryImpl/cache/db/projectTable/ProjectDao.kt
  repository-impl/src/main/java/com/kevalpatel2106/repositoryImpl/di/CacheSingletonComponentModule.kt
  repository-impl/src/main/java/com/kevalpatel2106/repositoryImpl/project/ProjectRepoImpl.kt
  repository-impl/src/main/java/com/kevalpatel2106/repositoryImpl/project/usecase/SaveProjectsToCacheImpl.kt
  repository-impl/src/test/java/com/kevalpatel2106/repositoryImpl/project/ProjectRepoImplTest.kt
  repository-impl/src/test/java/com/kevalpatel2106/repositoryImpl/project/usecase/ProjectWithLocalDataMapperImplTest.kt
  repository-impl/src/test/java/com/kevalpatel2106/repositoryImpl/project/usecase/SaveProjectsToCacheImplTest.kt
  repository/src/main/java/com/kevalpatel2106/repository/ProjectRepo.kt
Labels: none

Changed the pin icon
  core-resources/src/main/res/drawable/ic_pin_selected.xml
  core-resources/src/main/res/drawable/ic_pin_unselected.xml
  core-resources/src/main/res/drawable/selectable_pin.xml
  feature-project/src/main/res/drawable/ic_star_selected.xml
  feature-project/src/main/res/drawable/ic_start_unselected.xml
  feature-project/src/main/res/drawable/selectable_start.xml
  feature-project/src/main/res/layout/list_item_project.xml
Labels: none

Integrate pinning/unpinning of repo from the project list
  feature-account/src/test/java/com/kevalpatel2106/feature/account/list/adapter/AccountListItemTest.kt
Labels: none

Instrumentation test for ProjectLocalDataDao
  repository-impl/src/androidTest/java/com/kevalpatel2106/repositoryImpl/Fixture.kt
  repository-impl/src/androidTest/java/com/kevalpatel2106/repositoryImpl/cache/db/projectLocalDataTable/ProjectLocalDataDaoTest.kt
  repository-impl/src/main/java/com/kevalpatel2106/repositoryImpl/cache/db/projectLocalDataTable/ProjectLocalDataDao.kt
Labels: none

Update Gradle Wrapper from 7.5.1 to 7.6.
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: none

Add CodeQL security scanning, dependency submission workflows
  .github/workflows/android_pr.yml
  .github/workflows/automerge.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/reuse_code_analysis.yml
  .github/workflows/reuse_security.yml
Labels: PR type > automation

Update Gradle Wrapper from 7.5.1 to 7.6 (#124)
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: none

Update other room dependencies
  cache/build.gradle
Labels: none

- Fixed dependency review workflow - Add cache clean up workflow - Fixed permission issue in nightly workflow
  .github/workflows/cleanup.yml
  .github/workflows/nightly.yml
  .github/workflows/reuse_security.yml
Labels: PR type > automation

- Fixed failing house keeping workflow
  .github/workflows/android_pr.yml
Labels: PR type > automation

- Update library - Update to JDK 17
  .github/dependabot.yml
  .github/workflows/reuse_build.yml
  .github/workflows/reuse_code_analysis.yml
  .github/workflows/reuse_deploy.yml
  .github/workflows/reuse_test.yml
  .gitignore
  .idea/codeStyles/Project.xml
  app/build.gradle
  build.gradle
  cache/build.gradle
  connector-bitrise/build.gradle
  connector-ci/build.gradle
  connector-github/build.gradle
  core-network/build.gradle
  core-test/build.gradle
  core-views/build.gradle
  core/build.gradle
  entity/build.gradle
  feature-account/build.gradle
  feature-artifact/build.gradle
  feature-build/build.gradle
  feature-job/build.gradle
  feature-log/build.gradle
  feature-project/build.gradle
  feature-registration/build.gradle
  feature-setting/build.gradle
  gradle/config.gradle
  lint-baseline.xml
  proguard-rules.pro
  repository-impl-analytics/build.gradle
  repository-impl/build.gradle
  repository/build.gradle
Labels: PR type > automation

Update detekt plugin
  build.gradle
Labels: none

.github/labeler.yml:

PR type > automation:
  - .github/workflows/**/*
  - .github/labeler.yml
  - .github/release.yml
  - .github/dependabot.yml

PR type > documentation:
  - docs/**/*
  - .github/**/*.md
